body,
h1, h2, h3, h4,
ul,
li,
p {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.6;
    font-size: 16px;
    font-family: Montserrat ExtraLight;
}
h1,h2,h3,h4 {
    font-weight: normal;
}
ul {
    list-style: none;
}

form, input, button, textarea,
a {
    color: inherit;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    outline: none;
}
input {
    background: rgba(0, 0, 0, 0);
}
a {
    text-decoration: none;
}
.wrap {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 980px;
    overflow: hidden;
}

/* 头部 */
header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-align-items: center;
            align-items: center;
    text-align: center;
    padding: 0 10px;
    color: #fff;
    background: #222 url('../img/background-1.jpg') no-repeat;
    background-size: cover;
}

/* 头部文本内容 */
.header-text {
    margin-top: 190px;
    max-width: 770px
}
.header-text h1 {
    font-size: 62px;
}
.header-text p {
    margin-top: 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, .7);
}

/* 注册表单 */
.header-signup {
    margin: 100px 5px 210px;
    padding: 50px 5px;
    width: 100%;
    max-width: 970px;
    border: 1px solid rgba(255, 255, 255, .2);
}
.header-signup p {
    margin-top: 10px;
    font-size: 12px;
    color: rgba(255,255,255,.3);
}
.header-signup input {
    margin: 40px 15px 0;
    padding: 0 20px;
    width: 80%;
    max-width: 292px;
    line-height: 50px;
    color: #fff;
    border: 1px solid rgba(255,255,255,.2);
}
.header-signup button {
    margin: 40px 15px 0;
    width: 125px;
    line-height: 50px;
    font-size: 12px;
    color: #141414;
    background: #fff;
    border: 0;
    cursor: pointer;
}

/* feature */
.feature {
    padding: 85px 0 100px;
    color: #141414;
    background: #fff;
}
.feature .wrap {
    max-width: 1040px;
}
.feature-title {
    margin: 0 auto;
    max-width: 670px;
    text-align: center;
}
.feature-title h3 {
    font-size: 14px;
}
.feature-title h2 {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 41px;
}
.feature-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 60px -80px 0;
}
.feature-content li {
    flex: 1 1 255px;
    margin: 20px 80px 0;
    padding-left: 75px;
    max-width: 500px;
}
/* 背景图标 */
.feature-content li:nth-child(1) {
    background: url('../img/feature-1.png') no-repeat 19px 5px;
}
.feature-content li:nth-child(2) {
    background: url('../img/feature-2.png') no-repeat 12px 5px;
}
.feature-content li:nth-child(3) {
    background: url('../img/feature-3.png') no-repeat left 5px;
}
.feature-content li:nth-child(4) {
    background: url('../img/feature-4.png') no-repeat left 5px;
}
.feature-content h4 {
    font-size: 20px;
}
.feature-content p {
    color: rgba(20,20,20,.7);
}

/* calltoaction */
.calltoaction {
    padding: 180px 0;
    background: #222 url('../img/background-2.jpg') center no-repeat;
    background-size: cover;
}
.calltoaction-text {
    max-width: 380px;
}
.calltoaction-text h2 {
    line-height: 1.2;
    font-size: 41px;
    color: #fff;
}
.calltoaction-text p {
    margin-top: 45px;
    font-size: 18px;
    color: rgba(255,255,255,.7);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.calltoaction-go {
    margin-top: 35px;
}
.calltoaction-go a {
    display: inline-block;
    margin: 20px 20px 0 0;
    width: 240px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}
.calltoaction-go a:nth-child(1) {
    color: #141414;
    background: #fff;
}
.calltoaction-go a:nth-child(2) {
    color: #fff;
    border: 1px solid rgba(255,255,255,.3);
}

/* tryour */
.tryour {
    padding: 90px 0 75px;
    text-align: center;
}
.tryour-title {
    font-size: 42px;
    color: #141414;
}
.tryour-content {
    margin: 75px -40px 0;
}
.tryour-content li {
    display: inline-block;
    margin: 30px 38px;
    width: 270px;
}
.tryour-content p {
    margin-top: 30px;
    font-size: 16px;
    color: rgba(20,20,20,.7);
}

/* example */
.example {
    padding: 30px 0 100px;
    border-top: 1px solid #e7e7e7;
}
.example-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    margin: 80px -30px 0;
}
.example-item-text {
    flex: 1 1 200px;
    max-width: 410px;
    margin: 20px 30px;
}
.example-item-text > h4 {
    font-size: 20px;
    color: #141414;
}
.example-item-text > p {
    margin-top: 30px;
    color: rgba(20, 20, 20, .7);
}
.example-item > img {
    margin: 0 30px;
    width: 570px;
    max-width: 100%;
    background: #222 no-repeat;
    background-size: 100%;
}
.example-item:nth-child(1) > img {
    background-image: url('../img/example-1.png');
}
.example-item:nth-child(2) > img {
    background-image: url('../img/example-2.png');
}
.example-item:first-child img {
    order: -1;
}

/* team */
.team {
    padding: 90px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}
.team-title {
    margin: 0 auto;
    max-width: 700px;
}
.team-title h2 {
    font-size: 42px;
    color: #141414;
}
.team-title p {
    margin-top: 30px;
    font-size: 18px;
    color: rgba(20, 20, 20, .7);
}
.team-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 55px -15px 0;
}
.team-content > li {
    -webkit-flex: 1 1 330px;
            flex: 1 1 330px;
    margin: 30px 15px 0;
    max-width: 80%;
    background: #222 no-repeat center top;
    background-size: cover;
}
.team-content > li:nth-child(1) {
    background-image: url('../img/userpic-1-jpg.jpg');
}
.team-content > li:nth-child(2) {
    background-image: url('../img/userpic-2-jpg.jpg');
}
.team-content > li:nth-child(3) {
    background-image: url('../img/userpic-3-jpg.jpg');
}
.team-content > li:nth-child(4) {
    background-image: url('../img/userpic-4-jpg.jpg');
}
.team-content > li:hover .team-item {
    opacity: 1;
    cursor: pointer;
}
.team-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
            justify-content: center;
    height: 30vw;
    max-height: 340px;
    min-height: 270px;
    box-sizing: border-box;
    background: rgba(20, 20, 20, .65);
    opacity: 0;
}
.team-item h4 {
    font-size: 20px;
    color: #fff;
}
.team-item p {
    margin: 15px 0 35px;
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
}
.team-item a {
    display: inline-block;
    margin: 0 15px;
}
/* contact */
.contact {
    padding: 70px 0;
    border-top: 1px solid #e7e7e7;
}
.contact-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -60px;
}
.contact form {
    flex: 1 1 300px;
    margin: 0 60px;
    padding: 50px 0 60px;
    max-width: 470px;
    text-align: center;
    border: 1px solid rgba(20, 20, 20, .1);
    border-radius: 10px;
}
.contact form > h4 {
    color: #141414;
}
.contact form > input,
.contact form > button,
.contact form > textarea {
    margin-top: 30px;
    padding: 10px 20px;
    width: 85%;
    max-width: 370px;
    border: 1px solid rgba(38, 35, 33, .2);
}
.contact form > textarea {
    height: 144px;
    resize: none;
}
.contact form > button {
    padding: 16px 0;
    font-size: 12px;
    color: #fff;
    background: #141414;
    border: 0;
    cursor: pointer;
}
.contact-text {
    flex: 1 1 200px;
    margin: 0 60px;
    max-width: 360px;
}
.contact-text-title h2 {
    font-size: 42px;
    color: #141414;
}
.contact-text-title p {
    margin-top: 30px;
    color: rgba(20, 20, 20, .7);
}
.contact-text-content {
    margin-top: 65px;
}
.contact-text-content p {
    margin-top: 30px;
    padding-left: 40px;
    line-height: 1.9;
    font-style: normal;
    font-weight: bold;
    color: #141414;
    background: no-repeat left 6px;
}
.contact-text-content p:nth-child(1) {
    background-image: url('../img/map.png');
}
.contact-text-content p:nth-child(2) {
    background-image: url('../img/phone.png');
}
.contact-text-content p:nth-child(3) {
    background-image: url('../img/mail.png');
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 85px 10px 124px;
    background: #141414;
}
.footer-item {
    margin: 30px 15px 0;
    width: 270px;
}
.footer-item > h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.footer-item > ul {
    line-height: 3;
    color: rgba(255, 255, 255, .3);
}
.footer-item > p {
    margin-top: 14px;
    color: rgba(255, 255, 255, .3);
}
.footer-item-icon {
    margin-top: 30px;
}
.footer-item-icon > li {
    display: inline-block;
    margin-right: 25px;
}
.footer-icon {
    fill: rgba(255, 255, 255, .3);
    fill-rule: evenodd;
}